.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item-image {
  background-image: url("../../images/Rectangle 3-5@2x.png");
  max-width: 800px;
  max-height: 400px;
  background-size: cover;
  background-position: left;
}
